body {
  margin: 0px;
  padding: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* section {
  color: red;
} */

/* #intro {
  color: green
} */


/* .intro_para {
  color: blue;
}

.intro_orange {
  color: orange;
} */


/* SPECIFICITY
inline
id
class
element */


/*
  This will select both of the article__header elements
*/
.article .article__header {
  font-size: 1.85em;
  line-height: 1.2em;
  color: orange;
}

/*
This will select only the section and ignore the div
*/
.article>.article__header {
  font-size: 1.85em;
  line-height: 1.2em;
  color: blue
}

.aside_box {
  border: 1px solid red;
}

.aside_box--dark {
  background-color: brown;
}

/*
  This will select only a section that directly follows another section
*/
section+section {
  margin: 20px 0 10px 0;
}

section~section {
  margin: 20px 0 10px 0;
}

li {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}

li:hover {
  color: rgb(33, 23, 140);
  text-decoration: underline;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

nav {
  background-color: crimson;
  color: aliceblue;
  font-size: 1.5em;
  padding: .5em;
}

.article__content {
  font-weight: bold;
  font-size: 2em;
}